spring:
  application:
    name: gateway-service
  
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origins: "*"
            allowed-methods: "*"
            allowed-headers: "*"
      
      routes:
        # Account Service Routes
        - id: account-service
          uri: ${ACCOUNT_SERVICE_URL:http://localhost:8081}
          predicates:
            - Path=/api/accounts/**
          filters:
            - StripPrefix=0
        
        # Wallet Service Routes
        - id: wallet-service
          uri: ${WALLET_SERVICE_URL:http://localhost:8082}
          predicates:
            - Path=/api/wallets/**
          filters:
            - StripPrefix=0
        
        # Transaction Service Routes
        - id: transaction-service
          uri: ${TRANSACTION_SERVICE_URL:http://localhost:8083}
          predicates:
            - Path=/api/transactions/**
          filters:
            - StripPrefix=0

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,gateway

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
